.Home{
    display: flex;
    
    .HomeContainer{
        
        align-items: center;
        flex: 6;
        .widget, .charting{
            display: flex;
            padding: 20px;
            gap: 20px;
            
        }
        .charting{
            margin-top: 15px;
        }
        .listContainer{
            box-shadow: 1px 1px 1px 1px rgba(86,42,207,0.47);
-webkit-box-shadow: 1px 1px 1px 1px rgba(86,42,201,0.47);
-moz-box-shadow: 1px 1px 1px 1px rgba(86,42,207,0.63);
padding: 20px;
margin: 20px; 
.list{
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}
        }
        
    }
}