.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
-webkit-box-shadow:2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
border-radius: 10px;
height: 100px;
padding: 10px;


    .left,.right{
display: flex;
flex-direction: column;
justify-content: space-between;
.title{
    font-weight: bold;
    font-size: 14px;
    color: gray;
}
.counter{
    font-size: 28px;
    font-weight: 300;
}
.link{
    font-size: 12px;
    border-bottom: 1px solid gray;
    max-width: max-content;
    //margin: 3px;
}
.percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    &.positive{
        color:green;
    }
    &.negative{
        color:red
    }
}
.icon{
    font-size: 18px;
    padding: 5px;
    background-color: #f3ccff;
    border-radius: 5px;
    align-self: flex-end;
    margin-bottom: 2px;
}
    }
}